* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Flexa;
  src: url(../public/fonts/GT-Flexa-Trial-VF.ttf) format("truetype"),
    url(../public/fonts/GT-Flexa-Trial-VF.woff2) format("woff2");

  font-weight: 100 800;
  font-style: italic 0 100;
  font-stretch: 50% 200%;
}
:root {
  --fontSize: 40vw;

  --italic: 0;
}

.container {
  height: 100vh;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
h1 {
  font-family: "Flexa", sans-serif;
  text-transform: uppercase;
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) - 2rem);
  font-variation-settings: "ital" var(--italic);

  /* font-weight: 100; */
  /* font-variation-settings: "ital" 0; */
  /* letter-spacing: 0px; */
  /* font-stretch: 50%; */
  /* transition: all 0.3s ease; */
  transform-origin: center;
}
/* h1:hover { */
/* font-weight: 800;
  font-variation-settings: "ital" 1; */
/* letter-spacing: 10px; */
/* font-stretch: 200%; */
/* } */
