* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Flexa;
  src: url(../src/fonts/GT-Flexa-Trial-VF.ttf) format("truetype"),
    url(../src/fonts/GT-Flexa-Trial-VF.woff2) format("woff2");

  font-weight: 100 800;
  font-style: italic 0 100;
  font-stretch: 50% 200%;
}
:root {
  --fontSize: 40vw;
  --italic: 0;
}
body {
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  padding-top: 1rem;
}
.container {
  height: 100vh;
  width: 85vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
h1 {
  font-family: "Flexa", sans-serif;
  text-transform: uppercase;
  font-size: var(--fontSize);
  line-height: calc(var(--fontSize) - 4rem);
  font-variation-settings: "ital" var(--italic);
  transform-origin: center;
}
@media (max-width: 600px) {
  h1 {
    line-height: calc(var(--fontSize) - 2rem);
  }
}
